<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/admin/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="~/Admin/Banner/Index">
                        <i class="fas fa-flag"></i>Sayfanın Giriş Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                    </ul>
                </li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="~/Admin/About/Index">
                        <i class="fas fa-info-circle"></i>Hakkımda Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                    </ul>
                </li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="~/Admin/FeatureCounter/Index">
                        <i class="fas fa-star"></i>Katkılarım Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                    </ul>
                </li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-quote-left"></i>Alıntı Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Ekle</a>
                        </li>
                        <li>
                            <a href="index2.html">Sil</a>
                        </li>
                        <li>
                            <a href="index3.html">Düzenle</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fab fa-facebook-square"></i>Sosyal Medya Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-pencil-alt"></i>Blog Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Ekle</a>
                        </li>
                        <li>
                            <a href="index2.html">Düzenle</a>
                        </li>
                        <li>
                            <a href="index3.html">Sil</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-comments"></i>Yorum Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Düzenle</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-envelope"></i>Mail Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tags"></i>Kategori Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Kategori Ekle</a>
                        </li>
                        <li>
                            <a href="index2.html">Kategori Düzenle</a>
                        </li>
                        <li>
                            <a href="index3.html">Kategori Sil</a>
                        </li>
                    </ul>   
                </li>
                <li>
                <br />
                <br />
            </ul>
        </nav>
    </div>
</aside>