<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/admin/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-flag"></i>Sayfanın Giriş Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Fotoğraf</a>
                        </li>
                        <li>
                            <a href="index2.html">Kısa Merhaba Yazısı</a>
                        </li>
                        <li>
                            <a href="index3.html">İsim</a>
                        </li>
                        <li>
                            <a href="index4.html">Soyisim</a>
                        </li>
                        <li>
                            <a href="index4.html">Alan Bilgileri</a>
                        </li>
                         <li>
                            <a href="index4.html">Kısa Hakkımda yazısı</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-info-circle"></i>Hakkımda Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Fotograf</a>
                        </li>
                        <li>
                            <a href="index2.html">Başlık</a>
                        </li>
                        <li>
                            <a href="index3.html">Hakkımızda Yazısı</a>
                        </li>
                        <li>
                            <a href="index4.html">Fakulte Bilgileri</a>
                        </li>
                        <li>
                            <a href="index4.html">Yazar Statüsü</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-star"></i>Katkılarım Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-quote-left"></i>Alıntı Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fab fa-facebook-square"></i>Sosyal Medya Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-globe"></i>Alt Kısım Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-pencil-alt"></i>Blog Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-comments"></i>Yorum Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-envelope"></i>Mail Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tags"></i>Kategori Ayarları
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
            </ul>
        </nav>
    </div>
</aside>