@using BlogWebSite_Entity
@model AboutModel

@{
    ViewData["Title"] = "AddAbout";
    Layout = "~/areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Hakkımda Başlığı</label>
            @Html.TextBoxFor(x=>x.AboutTitle,new {@class="form-control",@required="",@placeholder="“örnek:Hakkımda”"})
        </div>
        <div class="form-group col-md-6">
            <label>Hakkımda Kısa Yazısı</label>
            @Html.TextBoxFor(x=>x.AboutShortText,new {@class="form-control",@required="",@placeholder="“örnek:Siyasal Bilgiler Fakultesi”"})
      </div>
    </div>
  <div>
        <div>
            <label>Hakkımda Kullanıcı Statüsü</label>
            @Html.TextBoxFor(x=>x.UserStatusTitle,new {@class="form-control",@required="",@placeholder="“örnek:Siyaset Bilimci”"})
      </div>
  </div>
  <div>
      <div>
          <label>Hakkımda Yazısı</label>
          @Html.TextAreaFor(x=>x.AboutText,new {@class="form-control",@rows="10",@required=""})
      </div>
  </div>
    <div>
        <div>
            <br/>
            <input type="submit" value="Gönder" class="btn btn-primary text-center" onclick="confirmAction('/Admin/About/AddAbout')">
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault(); // Formun otomatik gönderilmesini engelle

            var form = $(this);
            var url = form.attr('action');

            Swal.fire({
                title: "Emin misiniz?",
                text: "Yapmış olduğunuz işlem Sistemi etkileyebilir.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet, Eminim!",
                cancelButtonText: "Hayır"
            }).then((result) => {
                if (result.isConfirmed) {
                    // AJAX çağrısı yaparak işlemi gerçekleştir
                    $.ajax({
                        url: url,
                        type: 'POST', // ya da GET, işleminize göre
                        data: form.serialize(),
                        success: function (response) {
                            // İşlem başarılı olduğunda yapılacaklar
                            window.location.href = '/Admin/About/Index';
                        },
                        error: function (xhr, status, error) {
                            // Hata durumunda yapılacaklar
                            console.log(error); // Hata konsola yazdırılabilir
                        }
                    });
                }
            });
        });
    });
</script>

