<section class="fh5co-top-banner">
	<div class="top-banner__inner site-container">
		<div class="top-banner__image">
			<img src="~/author/images/SeymaErcan.png" alt="author image">
		</div>
		<div class="top-banner__text">
			<div class="top-banner__text-up">
				<span class="brand-span">Merhaba! Ben</span>
				<h2 class="top-banner__h2">Şeyma</h2>
			</div>
			<div class="top-banner__text-down">
				<h2 class="top-banner__h2">Ercan</h2>
				<span class="brand-span">Siyasal bilimler fakultesi 1.sıfın öğrencisiyim</span>
			</div>
			<p>Tarih,Diplomasi ve Siyaset </p>
			<a href="#" class="brand-button">Read bio > </a>
		</div>
	</div>
</section>