
<div class="sidebar-widget">
	@foreach (var item in ViewBag.aboutValue)
	{
	<h3 class="sidebar-title">@item.AboutTitle</h3>
	<div class="widget-container widget-about">
		<a href="post.html"><img src=@item.AboutPhoto alt=""></a>
		<h4>Şeyma Ercan</h4>
		<div class="author-title">@item.UserStatusTitle</div>
		<p>@item.AboutText</p
	</div>
	}
</div>