<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<script src="~/author/js/jquery.min.js"></script>
<script src="~/author/js/main.js"></script>
<script src="~/author/js/slick.min.js"></script>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/author/css/style.css">
	<link rel="stylesheet" href="/author/css/slick.css">
	<title>Author</title>
</head>
<body>
	<!-- Navigation -->
	@await Html.PartialAsync("Partial/NavigationPartial")
	<!-- Navigation end -->
	<!-- Top banner -->
     @await Component.InvokeAsync("BannerComponent")
	<!-- Top banner end -->
	<!-- About me -->
	 @await Component.InvokeAsync("AboutComponent") 
	<!-- About me end -->
	<!-- Feature Counter -->
     @await Component.InvokeAsync("FeatureComponent")
	<!-- Feature Counter -->
	<!-- Blog -->
	@RenderBody()
	<!-- Blog end -->
	<!-- Quotes -->
	 @await Component.InvokeAsync("QuatesComponent") 
	<!-- Quotes end -->
	<!-- Social -->
	 @await Component.InvokeAsync("SocialMediaComponent") 
	<!-- Social -->
	<!-- Footer -->
     @await Component.InvokeAsync("FooterComponent")
	<!-- Footer end -->
</body>
</html>