
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/author/comment/css/bootstrap.min.css">
<link rel="stylesheet" href="/author/comment/css/font-awesome.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/author/comment/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>

<div class="blog-comment">
    <h3>Yorumlar</h3>
    <div class="media">
        <div class="media-object pull-left">
            <img src="/author/comment/images/comment-image1.jpg" class="img-responsive img-circle" alt="Blog Image 11">
        </div>
        <div class="media-body">
            <h3 class="media-heading">David Jones</h3>
            <span>3 days ago</span>
            <p>Aliquam gravida arcu at risus blandit, in interdum metus varius. Cras efficitur, ex sit amet tincidunt rhoncus, dui ex hendrerit risus, ac dapibus ligula mi id leo. In auctor dui justo, ac consequat dui posuere ac.</p>
        </div>
    </div>
    <div class="media">
        <div class="media-object pull-left">
            <img src="/author/comment/images/comment-image2.jpg" class="img-responsive img-circle" alt="Blog Image 22">
        </div>
        <div class="media-body">
            <h3 class="media-heading">Omar Larus</h3>
            <span>5 days ago</span>
            <p>Maecenas ultricies ante dignissim, iaculis ligula sed, gravida ipsum. Pellentesque lobortis velit mi, sed volutpat enim facilisis.</p>
        </div>
    </div>
    <div class="media">
        <div class="media-object pull-left">
            <img src="/author/comment/images/author-image2.jpg" class="img-responsive img-circle" alt="Blog Image 33">
        </div>
        <div class="media-body">
            <h3 class="media-heading">Walker Jen</h3>
            <span>July 27, 2017</span>
            <p>In eu posuere nulla, sit amet semper lectus. Aliquam gravida arcu at risus blandit, in interdum metus varius. Cras efficitur, ex sit amet tincidunt rhoncus, dui ex hendrerit risus, ac dapibus ligula mi id leo.</p>
        </div>
    </div>
    <div class="media">
        <div class="media-object pull-left">
            <img src="/author/comment/images/author-image1.jpg" class="img-responsive img-circle" alt="Blog Image 44">
        </div>
        <div class="media-body">
            <h3 class="media-heading">Jen Lopez</h3>
            <span>July 24, 2017</span>
            <p>In auctor dui justo, ac consequat dui posuere ac. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur.</p>
        </div>
    </div>
</div>

<script src="/author/comment/js/jquery.js"></script>
<script src="/author/comment/js/bootstrap.min.js"></script>
<script src="/author/comment/js/jquery.parallax.js"></script>
<script src="/author/comment/js/custom.js"></script>
