
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/author/comment/css/bootstrap.min.css">
<link rel="stylesheet" href="/author/comment/css/font-awesome.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/author/comment/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
    </div>
</div>

<div class="blog-comment-form">
    <h3>Yorum At</h3>
    <form action="#" method="post">
        <input type="text" class="form-control" placeholder="isim soyisim" name="name" required>
        <input type="email" class="form-control" placeholder="Email" name="email" required>
        <textarea name="message" rows="5" class="form-control" id="message" placeholder="Yorum içeriğin" message="message" required="required"></textarea>
        <div class="col-md-3 col-sm-4">
            <input name="submit" type="submit" class="form-control" id="submit" value="Yorum gönder">
        </div>
    </form>
</div>

<script src="/author/comment/js/jquery.js"></script>
<script src="/author/comment/js/bootstrap.min.js"></script>
<script src="/author/comment/js/jquery.parallax.js"></script>
<script src="/author/comment/js/custom.js"></script>