<footer class="site-footer">
	<div class="site-container">
		<div class="footer-inner">
			<div class="footer-info">
				<div class="footer-info__left">
					<img src="~/author/images/footer-img.jpg" alt="about me image">
					<p>Read more about me</p>
				</div>
				<div class="footer-info__right">
					<h5>Get In Touch</h5>
					<p class="footer-phone">Phone: +958734902847</p>
					<p>Email : Jhone@Example.com</p>
					<div class="social-icons">
						<a href="#" target="_blank"><img src="~/author/images/social-twitter.png" alt="social icon"></a>
						<a href="#" target="_blank"><img src="~/author/images/social-pinterest.png" alt="social icon"></a>
						<a href="#" target="_blank"><img src="~/author/images/social-youtube.png" alt="social icon"></a>
						<a href="#" target="_blank"><img src="~/author/images/social-twitter.png" alt="social icon"></a>
					</div>
				</div>
			</div>
			<div class="footer-contact-form">
				<h5>Contact Form</h5>
				<form class="contact-form">
					<div class="contact-form__input">
						<input type="text" name="name" placeholder="Name">
						<input type="email" name="email" placeholder="Email">
					</div>
					<textarea></textarea>
					<input type="submit" name="submit" value="Submit" class="submit-button">
				</form>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="site-container footer-bottom-inner">
			<p>© 2019 Author | Design by <a href="https://freehtml5.co/" target="_blank">freehtml5.co</a> | All rights Reserved.</p>
			<div class="footer-bottom__img">
				<img src="~/author/images/footer-mastercard.png" alt="footer image">
				<img src="~/author/images/footer-paypal.png" alt="footer image">
				<img src="~/author/images/footer-visa.png" alt="footer image">
				<img src="~/author/images/footer-fedex.png" alt="footer image">
				<img src="~/author/images/footer-dhl.png" alt="footer image">
			</div>
		</div>
	</div>
</footer>
