
@{
    ViewData["Title"] = "Index";
    Layout = "~/areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputIsim">İsim</label>
            <input type="text" id="inputIsim" class="form-control" placeholder="İsim" required />
        </div>
        <div class="form-group col-md-6">
            <label for="inputSoyisim">Soyisim</label>
            <input type="text" id="inputSoyisim" class="form-control" placeholder="Soyisim" required />
        </div>
    </div>
    <div class="form-group">
        <label for="inputKategori">Kategori</label>
        <input type="text" id="inputKategori" class="form-control" placeholder="Kategori" required />
    </div>
    <div class="form-group">
        <label for="inputBlogAdi">Blog Adı</label>
        <input type="text" id="inputBlogAdi" class="form-control" placeholder="Blog Adı" required />
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>


