
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">
	<title>Renda - clean blog theme based on Bootstrap</title>
	<!-- Bootstrap core CSS -->
	<link href="/author/post/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link href="/author/post/css/jquery.bxslider.css" rel="stylesheet">
	<link href="/author/post/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>

				<ul class="nav navbar-nav navbar-right">
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<header>
			<a href="index.html"><img src="/author/post/images/logo_ercan.jpg"></a>
		</header>
		<section>
			<div class="row">
				<div class="col-md-8">
					<article class="blog-post">
						<div class="blog-post-image">
							<a href="post.html"><img src="/author/post/images/seksen.jpg" alt=""></a>
						</div>
						<div class="blog-post-body">
							<h2><a href="post.html"></a>1980 ASKERİ DARBESİ ZEMİNİN OLUŞUMU VE ETKİLERİ</h2>
							<div class="post-meta"><span>by <a href="#">Jamie Mooze</a></span>/<span><i class="fa fa-clock-o"></i>March 14, 2015</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
							<div class="blog-post-text">

								<p>"Türk Silahlı Kuvvetleri ülkemizin bugünkü hayati sorunları karşısında siyasi partilerimizden bir an önce, milli menfaatlerimizi ön plana alarak, anayasamızın ilkeleri doğrultusunda ve Atatürkçü bir görüşle bir araya gelerek anarşi, terör ve bölücülük gibi devleti çökertmeye yönelik her türlü hareketlere karşı bütün önlemleri müştereken almalarını ve diğer anayasal kuruluşların da bu yönde yardımcı olmalarını ısrarla istemektedir."  Askeri muhtırasıyla hükümete baskı ve tehdit yoluyla yönetimin MGK’ya geçmesi isteniyordu. Ordunun bu müdahaleyi yapmasının sebebi ise Türkiye’de sağ ve sol siyasi görüş destekleyicilerin büyük problem yaratması idi. Sol merkezli partilerin otoritesi yalnızca ideolojik olarak etken iken sağ görüşte ise milliyetçilik hakimdi. Bu süreçte milliyetçilik görüşüne bağlı olan ülkücülük kavramı ve ülkü ocakları ortadaydı diğer yandan akıncılar olarak görülen şeriat destekçileri yapılanmıştı ve sol düşünce de ise yapılanmış Demokratik İşçiler Sendikası Konfederasyonu ve Dev-genç vb. yapılanmalar mevcuttu. Bu dönemde bulunan siyasi partiler ise MSP, AP, MHP ve CHP idi. Diğer yandan Türkiye ekonomisinde büyük sıkıntılar çıkmaya başlamıştı ve artarak da devam ediyordu. Hükümette bulunan dönemin başbakanı CHP genel parti başkanı Bülent Ecevit’in siyasi otoritesi giderek zayıflıyordu. Hatta bu sağ-sol çatışması o kadar büyümüştü ki ‘’1997, 1252 ölü ve 5400 yaralı ile kapanmıştı.’’ (12 Eylül belgeseli 6.bölüm,9.30 dakika,32.Gün). Türkiye’nin doğu ve güneydoğu Anadolu kısmı da oldukça sıkıntılıydı. Bir Kürt sorunu cereyan ediyordu. Ordu ise bu durumdan mütevellit duruma el koymaya karar verdi. Dönemin Genelkurmay başkanı Kenan Evren ve dönemin üst düzey komutanları ile birlikte hükümete verdikleri muhtıra ile yönetime el koydular ve bu süreçte MGK tüm siyasi partileri kapatmıştı ve dönemin parti başkanları sürgün edilmişti. Dönemin Cumhurbaşkanı Fahri Korutürk’ün emekli olmasıyla Kenan Evren cumhurbaşkanı olmuştur ve tekrardan çok partili sisteme geçilmek istenmiştir bununla birlikte yeni partiler açıldı. Türkiye 1980 darbesi sonrası yeni bir sayfa açılmış olmakla beraber öncesinde var olan siyasi partilerinde etkileri zayıflamış lakin devamı niteliğinde açılan yeni siyasi partiler Türkiye’nin geleceğini oluşturma görevi üstlenmiştir. Bu partilerin arasında en çok öne çıkan da merkez sağ görüşünde olan Anavatan partisi yani ANAP’tı, Parti genel başkanı ise Turgut Özal’dı. 1980’li yıllara gelindiğinde ise Türkiye’de Turgut Özal’ın önderliğinde ve yeni sağın rüzgârı yönünde köklü yapısal dönüşümler yaşanmıştır. Bu yeni dönemde devlet-toplum ilişkileri ve iktidar pratikleri dünyanın gidişi yönünde bir seyir izlemiştir. Darbe sonrası sağ partilerin halk üzerindeki etkileri artarken sol görüşlü partilerin ise popülerliği azalmıştır. </p>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-4 sidebar-gutter">
					<aside>
						<!-- sidebar-widget -->
						<div class="sidebar-widget">
							<h3 class="sidebar-title">About Me</h3>
							<div class="widget-container widget-about">
								<a href="post.html"><img src="/author/post/images/author.jpg" alt=""></a>
								<h4>Jamie Mooz</h4>
								<div class="author-title">Designer</div>
								<p>While everyone’s eyes are glued to the runway, it’s hard to ignore that there are major fashion moments on the front row too.</p>
							</div>
						</div>
						<!-- sidebar-widget -->
						<div class="sidebar-widget">
							<h3 class="sidebar-title">Featured Posts</h3>
							<div class="widget-container">
								<article class="widget-post">
									<div class="post-image">
										<a href="post.html"><img src="/author/post/images/90x60-1.jpg" alt=""></a>
									</div>
									<div class="post-body">
										<h2><a href="post.html">The State of the Word 2014</a></h2>
										<div class="post-meta">
											<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
										</div>
									</div>
								</article>
								<article class="widget-post">
									<div class="post-image">
										<a href="post.html"><img src="/author/post/images/90x60-2.jpg" alt=""></a>
									</div>
									<div class="post-body">
										<h2><a href="post.html">Why The Muppets Needs to Channel 30 Rock</a></h2>
										<div class="post-meta">
											<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
										</div>
									</div>
								</article>
								<article class="widget-post">
									<div class="post-image">
										<a href="post.html"><img src="/author/post/images/90x60-3.jpg" alt=""></a>
									</div>
									<div class="post-body">
										<h2><a href="post.html">The State of the Word 2014</a></h2>
										<div class="post-meta">
											<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
										</div>
									</div>
								</article>
								<article class="widget-post">
									<div class="post-image">
										<a href="post.html"><img src="/author/post/images/90x60-4.jpg" alt=""></a>
									</div>
									<div class="post-body">
										<h2><a href="post.html">Vintage-Inspired Finds for Your Home</a></h2>
										<div class="post-meta">
											<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
										</div>
									</div>
								</article>
								<article class="widget-post">
									<div class="post-image">
										<a href="post.html"><img src="/author/post/images/90x60-5.jpg" alt=""></a>
									</div>
									<div class="post-body">
										<h2><a href="post.html">The State of the Word 2014</a></h2>
										<div class="post-meta">
											<span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
										</div>
									</div>
								</article>
							</div>
						</div>
						<!-- sidebar-widget -->
						<div class="sidebar-widget">
							<h3 class="sidebar-title">Socials</h3>
							<div class="widget-container">
								<div class="widget-socials">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-reddit"></i></a>
								</div>
							</div>
						</div>
						<!-- sidebar-widget -->
						<div class="sidebar-widget">
							<h3 class="sidebar-title">Categories</h3>
							<div class="widget-container">
								<ul>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Featured</a></li>
									<li><a href="#">Graphics</a></li>
									<li><a href="#">Peoples</a></li>
									<li><a href="#">Uncategorized</a></li>
								</ul>
							</div>
						</div>
				</div>
				@await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")
				</aside>
			</div>
	</div>
	</section>
	</div><!-- /.container -->

	<!-- Bootstrap core JavaScript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="author/post/https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="author/post/js/bootstrap.min.js"></script>
	<script src="author/post/js/jquery.bxslider.js"></script>
	<script src="author/post/js/mooz.scripts.min.js"></script>
</body>
</html>

