@using BlogWebSite_Entity
@model BlogWebSite_Entity.BlogModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<section class="fh5co-blog">
	<div class="site-container">
		<h2 class="universal-h2 universal-h2-bckg">Bloglarım</h2>
		<div class="blog-slider blog-inner">
			@foreach (var item in ViewBag.blogValue)
			{
			<div class="single-blog">
				<div class="single-blog__img">
					<img src="@item.BlogImage" alt="blog image" style="max-width: 100%; height: auto;">
				</div>
				<div class="single-blog__text">
					<h4>@item.BlogTitle </h4>
					<span>@item.BlogDateTime.ToString("dd.MM.yyyy")</span>
					<p>@item.BlogDescription</p>
				</div>
			</div>
			}
		</div>
	</div>
</section>
