@using BlogWebSite_Entity
@model List<BlogModel>

<div class="sidebar-widget">
	<br /><br />
	<h3 class="sidebar-title">Son Bloglar</h3>
	<div class="widget-container">
		<article class="widget-post">
			@foreach (var item in Model)
			{
				<div class="post-image">
					<a href="post.html"><img src="@item.BlogThumbnailImage" alt="" style="width: 90px; height: 60px;"></a>
				</div>
				<div class="post-body">
					<h2><a href="post.html">@item.BlogTitle</a></h2>
					<div class="post-meta">
						<span><i class="fa fa-clock-o"></i>@item.BlogDateTime.Value.ToString("dd,MM,yyyy")</span> @* <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span> *@
					</div>
				</div>
			}
		</article>
	</div>
</div>