<section class="fh5co-quotes">
	<div class="site-container">
		<div class="about-me-slider">
			<div>
				<h2 class="universal-h2 universal-h2-bckg">What People Are Saying</h2>
				<p>“Pudding croissant cake candy canes fruitcake sweet roll pastry gummies sugar plum. Tart pastry danish soufflé donut bear claw chocolate cake marshmallow chupa chups. Jelly danish gummi bears cake donut powder chocolate cake. Bonbon soufflé lollipop biscuit dragée jelly-o. Wafer pastry pudding tiramisu chocolate bar croissant cake. Pie caramels gummies danish.”</p>
				<img src="~/author/images/quotes.svg" alt="quotes svg">
				<h4>David Dixon</h4>
				<p>Reader</p>
			</div>
			<div>
				<h2 class="universal-h2 universal-h2-bckg">What People Are Saying 2</h2>
				<p>“Pudding croissant cake candy canes fruitcake sweet roll pastry gummies sugar plum. Tart pastry danish soufflé donut bear claw chocolate cake marshmallow chupa chups. Jelly danish gummi bears cake donut powder chocolate cake. Bonbon soufflé lollipop biscuit dragée jelly-o. Wafer pastry pudding tiramisu chocolate bar croissant cake. Pie caramels gummies danish.”</p>
				<img src="~/author/images/quotes.svg" alt="quotes svg">
				<h4>David Dixon</h4>
				<p>Reader</p>
			</div>
		</div>
	</div>
</section>