@using BlogWebSite_Entity
@model BlogWebSite_Entity.CommunicationModel

<footer class="site-footer">
	<div class="site-container">
		<div class="footer-inner">
			<div class="footer-info">
				<div class="footer-info__left">
					<img src="~/author/images/ŞeymaErcanImza.png" id="imageImza" alt="about me image" style="margin-top: -7em">
					<div class="social-iconss">
						@* @foreach (var item in ViewBag.socialMediaValue)
						{
							<a href="@item.TwitterLink" target="_blank"><img src="~/author/images/social-twitter.png" style="margin-top: -10em" ></a>
							<a href="@item.InstagramLink" target="_blank"><img src="~/author/images/instagram.jpg" alt="social icon"></a>
							<a href="@item.LinkedinLink" target="_blank"><img src="~/author/images/Linkedin.png" alt="social icon"></a>
						} *@
				</div>
				 <div class="footer-info__right">
					
					</div>
				</div> 
			</div>
			<div class="footer-contact-form">
				@await Html.PartialAsync("~/Views/EmailService/SendMail.cshtml")
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="site-container footer-bottom-inner">
			<p>© @DateTime.Now.Year Author | Design by Kubilay T. <a href="" target="_blank"></a> | All rights Reserved.</p>
		</div>
	</div>
</footer>
<script>
	var Image = document.getElementById('imageImza');

	Image.addEventListener('contextmenu', function (e) {
		e.preventDefault();
	});

	Image.addEventListener('mousedown', function (e) {
		if (e.button === 0) {
			e.preventDefault();
		}
	});

</script>
