<section class="fh5co-social">
	<div class="site-container">
		<div class="social">
			<h5>Follow me!!</h5>
			<div class="social-icons">
				<a href="#" target="_blank"><img src="~/author/images/social-twitter.png" alt="social icon"></a>
				<a href="#" target="_blank"><img src="~/author/images/social-pinterest.png" alt="social icon"></a>
				<a href="#" target="_blank"><img src="~/author/images/social-youtube.png" alt="social icon"></a>
				<a href="#" target="_blank"><img src="~/author/images/social-twitter.png" alt="social icon"></a>
			</div>
			<h5>Share it!</h5>
		</div>
	</div>
</section>